.MMM-MacAddrScan .deviceCell {
  text-align: left;
}

.MMM-MacAddrScan .deviceCell i {
  padding-left: 0;
  padding-right: 10px;
}

.MMM-MacAddrScan .dateCell {
  padding-left: 30px;
  text-align: right;
}
